<section class="col-md-5">
  <h1><%= @cuisine.name %></h1>

  <% if @recipes.empty? %>
    <p>Nenhuma receita encontrada para este tipo de Cozinha</p>
  <% end %>

  <% @recipes.each do |recipe| %>
    <div class="col-md-12 col-xs-2">
      <%= render recipe %>
    </div>
  <% end %>
</section>

