<h2>Tipo</h2>
<% @recipe_types.each do |recipe_type| %>
  <li class="nav"><%= link_to recipe_type.name, recipe_type_path(recipe_type.id)%></li>
<% end %>

<h2>Cozinha</h2>
<% @cuisines.each do |cuisine| %>
  <li class="nav"><%= link_to cuisine.name, cuisine_path(cuisine.id)%></li>
<% end %>

<hr>

<span><%= link_to 'Ver todas as receitas', recipes_path %></span>