<div class="col-md-5">
  <h2>Tipo</h2>
  <% @recipe_types.each do |recipe_types| %>
    <li><%= link_to recipe_types.name, recipe_type_path(recipe_types.id)%></li>
  <% end %>
  <h2>Cozinha</h2>
  <% @cuisines.each do |cuisine| %>
    <li><%= link_to cuisine.name, cuisine_path(cuisine.id)%></li>
  <% end %>
</div>