<div class="row">
  <%= render 'shared/header' %>
</div>

<div class="row well well-lg">
  <%= render 'shared/aside' %>
  <%= render 'shared/recent_recipes_section' %>
</div>

<div class="row">
  <footer>

  </footer>
</div>